-f https://download.pytorch.org/whl/torch_stable.html
streamlit==0.70.0
torch==1.6.0+cpu
torchvision==0.7.0+cpu
transformers
newsapi-python
pandas
spacy 
newspaper3k
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz