#-f https://download.pytorch.org/whl/cpu/torch_stable.html
streamlit
#torch
#torchvision
transformers[torch]
newsapi-python
pandas
spacy 
newspaper3k
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz